<html>

<head>
    <title>{{config.name}}</title>
    <meta http-equiv="Cache-Control" content="no-store" />

    <link rel="shortcut icon" href="public/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{{cssUrl}}}">

    <script src="public/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="public/javascripts/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="boarder-fill">  
         <div id="error_box" class="error-alert" >
            </div>  
        <div class="instance-boarder"> 
           
          
        

        