<html>
<head>
    <title>Error</title>
    <meta http-equiv="Cache-Control" content="no-store" />
    <link rel="stylesheet" type="text/css" href="public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
</head>

<body>
    <div class="container" style="margin: 1vh; border: 1px solid #FBAE03">
        <div class="row">
            <div class="col-md-12">
                <h3>Error</h3>
                <pre>{{message}}</pre>
            </div>
        </div>
    </div>
</body>

</html>